body {
    background-color: #082c6c;
    color: #f4d47c; 
}

.btn {
    color: #f4d47c;
}

.fa {
    color: #f4d47c;
}

.navbar .dropdown-menu {
    background-color: #f4d47c;
    
}
.jumbotron{ 
	background-color: #444444; 
    background-size: 100% 100%; 
    color: #f4d47c;
	background-repeat: no-repeat; 
}
/* select the tag with id hardware and the class jumbotron */
#hardware.jumbotron{ 
	background-image: url('../img/jumbotron-bg.jpg'); 
    background-size: 100% 100%; 
    color: #f4d47c;
	background-repeat: no-repeat; 
}

#hardware.jumbotron h1 span { 
    background-color: #082c6c; 
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

#hardware.jumbotron p span { 
    background-color: #082c6c; 
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

#hardware img {
    width: auto;
    height: 275px;
    object-fit: fill;
}
#hardware .progress-bar {
    width:100%; 
    background-color:#f4d47c;
    color: #444444;
}

#firmware.jumbotron{ 
	background-image: url('../img/assembly.jpg'); 
    background-size: 100% 100%; 
    color: #f4d47c;
	background-repeat: no-repeat; 
}

#software.jumbotron{ 
	background-image: url('../img/bitcoin-code.jpg'); 
    background-size: 100% 100%; 
    color: #f4d47c;
	background-repeat: no-repeat; 
}

#software.jumbotron h1 span { 
    background-color: #193f15; 
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

#software.jumbotron p span { 
    background-color: #193f15; 
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
}