body {
    margin-top: 55px;
    background-color: #082c6c;
    color: #f4d47c; 
}

.btn {
    color: #f4d47c;
}
.btn-success {
	color:#000000;
}
.fa {
    color: #f4d47c;
}

.navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
.navbar .dropdown-menu {
    background-color: #f4d47c;
    text-align: center;
	position: absoulute 
}
.dropdown {
	position: relative;   // for keeping it alligned on same line

}
/* change the color of the hamburger drop down icon */ 
.navbar-dark.navbar-toggler { 
    border-color: #f4d47c; 
} 
.navbar-dark.navbar-toggler .navbar-toggler-icon { 
    /* RGB color code of #f4d47c is (244,212,124)*/
    background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(244, 212, 124, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
} 

.jumbotron{ 
    background-size: 100% 100%; 
    color: #f4d47c;
	background-repeat: no-repeat; 
}
.jumbotron h1 span { 
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
.jumbotron p span {
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.modal-header {
    border-bottom: 0 none;
}

.modal-header .close{
    color: #f4d47c; 
    opacity: 1;
}
.modal-body {
    background-color:#082c6c;
}
.modal-footer {
    border-top: 0 none;
}

/* select the tag with id hardware and the class jumbotron */
#hardware.jumbotron{ 
	background-image: url('../img/jumbotron-bg.jpg'); 
}
#hardware.jumbotron h1 span { 
    background-color: #082c6c;
}
#hardware.jumbotron p span { 
    background-color: #082c6c;
}
#hardware img {
    width: auto;
    height: 275px;
    object-fit: fill;
}


#firmware.jumbotron{ 
	background-image: url('../img/assembly.jpg');
}


#software.jumbotron{ 
	background-image: url('../img/bitcoin-code.jpg'); 
}
#software.jumbotron h1 span { 
    background-color: #193f15; 
}
#software.jumbotron p span { 
    background-color: #193f15; 
}







