@font-face {
   font-family: "roboto";
   src: url("../font/roboto-v27-latin-regular.woff2") format("woff2"),
     url("../font/roboto-v27-latin-regular.woff") format("woff");
   font-weight: 400;
   font-style: normal;
   color:#D4ECDD;
 }


body {
   margin-top: 55px;
   background-color: #112031;
   font-family: 'roboto';
}
h1, h2, h3, h4, h5, p, b, hr{
   color: #D4ECDD;
}
h3, p{
   text-align: left;
}
hr {
   border-top: 2px solid;
}
#icon {
   width: 55px;
   height: 55px;
}


.dropdown {
/* for keeping it alligned on same line*/
   position: relative;   
 }
.navbar {
   background-color: #152D35;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 1000;
}
.navbar .navbar-brand {
   color:#D4ECDD;
}
.navbar-nav.nav-fill .nav-item .nav-link{
   color:#D4ECDD;
}
/* change the color of the hamburger drop down icon border */ 
.navbar-toggler { 
   border-color: #D4ECDD;
} 
.navbar-toggler .navbar-toggler-icon {
   /*change stroke for hamburger line color*/
   background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(212,236,221)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
}


.jumbotron{ 
   background-size: 100% 100%; 
   background-repeat: no-repeat;
   border-bottom: solid;
   border-color: #345B63;
   border-top: solid;
}
.jumbotron h1 span { 
   border-radius: 10px;
   padding-right: 10px;
   padding-left: 10px;
   border: solid;
   background-color: #112031;
   font-size: 10vw;
}




.modal-header {
   border-bottom: 0 none;
}

.modal-header .close{
   color: #f4d47c; 
   opacity: 1;
}
.modal-body {
   background-color:#082c6c;
}
.modal-footer {
   border-top: 0 none;
}


.card {
   background-color: #345B63;
   margin-bottom: 15px;
}

.btn {
   background-color: #112031;
   border-color: #345B63;
}
.btn:hover {
   background-color: #152D35;
}

footer {
   background-color: #152D35;
   border-top: solid;
}
.fa {
   color: #D4ECDD;
}

/* for mobile m  and less */
@media only screen and (max-width: 375px){
   /*change height of cards*/
   .card-img-top{
      width: 100%;
      height: 100vw;
      object-fit: fill;
   }
}
/*for mobile l and less*/
@media only screen and (max-width: 425px){
   /*Center align the icon */
   #icon{
      width: 50px;
      height: 50px;
      position: absolute;
      left: 50%;
      transform: translate(-50%,-50%);
   }
   /* increase jumbotron text */
   .jumbotron h1 span {
      font-size: 16vw;
   }
   /* Modify the card image sizes */
   .card-img-top{
      width: 100%;
      height: 50vw;
      object-fit: fill;
   }
}
/* for mobile l and larger */
@media only screen and (min-width: 425px){
   .card-img-top{
      width: 100%;
      height: 30vw;
      object-fit: fill;
   }

}

/* Laptop L and >  */
@media only screen and (min-width: 1440px){
/* add margins to the left and right of page
   .device_wraper{
      margin-left: 15vw;
      margin-right: 15vw;

   } */
   
}